@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/*Header*/
.main-header {
  @apply bg-white pb-2 pt-2   text-base text-purple-600 dark:bg-secondary-bg dark:text-white   md:flex tablet:flex     tablet:justify-between;
}

.main-ul {
  @apply items-center space-x-3 p-4  pr-2 xxsm:hidden sm:flex;
}

.main-li {
  @apply cursor-pointer border-b-2 border-transparent align-middle  transition-all  duration-300 hover:border-b-2 hover:border-purple-600;
}
.main-button {
  @apply h-10 rounded-lg bg-purple-500 pl-5 pr-5 text-justify text-white hover:bg-purple-600  hover:shadow-lg   hover:shadow-slate-400/50 focus:outline-none focus:ring focus:ring-purple-300 active:bg-purple-700;
}

/*Secondary nav */

.secondary-nav {
  @apply flex  justify-between  bg-white text-sm  font-normal text-white dark:bg-secondary-bg;
}

.home-button {
  @apply rounded-md bg-gray-500 p-1 shadow-sm shadow-gray-500 hover:bg-violet-600 focus:outline-none focus:ring focus:ring-violet-300 active:bg-violet-700 dark:bg-gray-500 dark:text-gray-400 dark:hover:bg-gray-700  dark:focus:bg-gray-700 dark:focus:ring-gray-400;
}

.secondary-li {
  @apply cursor-pointer border-b-2 border-transparent font-semibold  text-purple-600 hover:border-b-2 hover:border-purple-600 dark:text-purple-400;
}

.search-box {
  @apply mt-2 rounded-lg border-2 border-purple-400 p-1 pl-10 text-sm text-purple-500 outline-1 hover:shadow-lg  focus:bg-slate-50 focus:shadow-slate-400/50 focus:ring focus:ring-violet-300 dark:border-transparent;
}

/*welcome section */

.welcome-section {
  @apply flex h-full w-full justify-between  dark:bg-body-dark  dark:text-white;
}

.btn {
  @apply h-10 rounded-lg  px-5 text-justify   hover:shadow-lg   hover:shadow-slate-400/50 focus:outline-none focus:ring;
}

.btn-dark {
  @apply bg-purple-500  hover:bg-purple-600 focus:ring-purple-300 active:bg-purple-700;
}

.btn-light {
  @apply bg-cyan-500 shadow-lg shadow-cyan-500/50;
}

/*section-courses*/

.section-courses {
  @apply h-full w-full  flex-col justify-around bg-white pt-8 text-center text-white dark:bg-body-dark;
}

.logo-shadow:hover {
  text-shadow: 0 16px 16px rgba(169, 84, 244, 0.5);
  filter: drop-shadow(4px 8px 16px rgba(156, 59, 231, 0.5));
}
.slanted-container {
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
}

@keyframes glowing {
  0% {
    text-shadow:
      0 0 5px rgba(63, 219, 240, 0.5),
      0 0 10px rgba(63, 219, 240, 0.5),
      0 5px 20px rgba(63, 219, 240, 0.5); /* Adjust the last value for vertical position */
  }
  50% {
    text-shadow: 0 0 5px rgba(63, 219, 240, 0.5);

    filter: drop-shadow(0 0 10px rgba(9, 240, 236, 0.5));
  }
  100% {
    text-shadow: 0 5px 15px rgba(63, 219, 240, 0.5); /* Adjust the last value for vertical position */
  }
}

.glowing-text {
  animation: glowing 2.5s infinite;
}

/*Section B */

.card {
  @apply relative  rounded-2xl bg-white text-left shadow-lg shadow-gray-500  dark:bg-card md:w-1/3;
}
.course-name {
  @apply py-1 text-xl font-medium text-black dark:text-white;
}
.course-desc {
  @apply text-black dark:text-slate-400;
}

.offer {
  @apply text-black dark:text-subHeading;
}

.cardBody {
  @apply space-y-1 p-8;
}
.crdBtn {
  @apply absolute bottom-1;
}

/*Section C */

.testimonials {
  @apply relative isolate overflow-hidden bg-purple-300 px-6 py-8 dark:bg-body-dark sm:py-4 lg:px-8;
}

.reviewer {
  @apply absolute bottom-0;
}
